@model IEnumerable<EDCFinans.Models.Finans.Urun>

@{
    ViewData["Title"] = "Urun_Listeleme";
}

<h1>Urun_Listeleme</h1>

<p>
    <a asp-action="Urun_Ekle">Yeni Kayıt</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UrunKategoriId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Durum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UrunKategoriId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Durum)
            </td>
            <td>
                @Html.ActionLink("Düzenle", "Urun_Duzenle", new {  id=item.Id }) |
            </td>
        </tr>
}
    </tbody>
</table>
