@model IEnumerable<EDCFinans.Models.Finans.Meslek>

@{
    ViewData["Title"] = "Meslek_Listeleme";
}

<h1>Meslek_Listeleme</h1>

<p>
    <a asp-action="Meslek_Ekle">Yeni Kayıt</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Durum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Durum)
            </td>
            <td>
                @Html.ActionLink("Düzenle", "Meslek_Duzenle", new {  id=item.Id }) |
                @Html.ActionLink("Durum Değiştir", "Meslek_DurumDegistir", new {  id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
